@import "./variables.scss";
// GOOGLE-FONT
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// GENERAL/RESET
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: $body;
    font-family: 'Roboto', sans-serif;

    #app{
        height: 100%;
    }

    main{
        display: flex;
        height: calc(100% - 4.375rem);
    }


 
}












